# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py
version.py

# IDE
.vscode/

# Agents
CLAUDE.md

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# scratch
.scratch

# outputs
output
wandb

# data
data
logs
tmp
slurms

# HCP-YA
hcpya_restricted.csv
hcpya_unrestricted.csv
